<h2>Features Included:</h2>
<ul style="font-size:medium">
  <li>Sharing messages via Notice board</li>
  <li>Email updates for the new posts</li>
  <li>Showing nearby classifields</li>
  <li>Subscription and Billing for maintenance fee</li>
  <li>& more..</li>
</ul>